<% if ( typeof lib != 'undefined' ) { %>
	<% if ( typeof lib == 'object' ) { %>
	  <% lib.forEach(function( jsFile ){ %>
	  	<script src="<%= jsFile %>"></script>
	  <% }); %>

	<% } else { %>
		<script src="<%= lib %>"></script>
	<% } %>
<% } %>
</body>
</html>